<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <header>
        <h1>Expense Tracker</h1>
      <nav>
        <ul>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/expense">Expense</a></li>
        </ul>
      </nav>
   </header>
   <main>
    {{{body}}}
   </main>
   <footer>
    <script></script>
   </footer>
</body>
</html>