<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
<h1>Dashboard</h1>
<form action="/expenseRoutes" method="POST">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" required>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <button type="submit">Add Expense</button>
</form>

<h2>Your Expenses</h2>
<ul>
    {{#each expenses}}
    <li>{{this.description}} - ${{this.amount}} on {{this.date}}</li>
    {{/each}}
</ul>

<h2 justify-content="center">Expenses Chart</h2>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="expensesChart" data-expenses="{{expenses}}"></canvas>
</div>
<button id = "logout">LogOut</button>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>
<script src="./js/logout.js"></script>

