body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 235, 238);
  }
  
  
  #dashBtn {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
  
  }
  
  .total, .add, .expenses-list {
    width: 100%;
    font-size: 25px;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    padding-top: 5%;
  }
  
  .add label {
    font-size: 30px;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  
  .button-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    margin-top: 1rem;
  }